html,body {
margin:0;
padding:0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
  z-index: -2;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 700;
}

/*end meyer css */


@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Varela+Round');

/*VARIABLES*/

$font-light-color: white;
$font-medium-color: #A9B4C0;
$font-dark-color: slategray;

$font-headers: 'Roboto', sans-serif;
$font-content: 'Roboto', sans-serif;
$font-buttons: 'Roboto', sans-serif;
$button-font-weight: 100;
$button-letter-spacing: 1px;

$button-font-size: 14px;

$light-page-background-color: white;
$green: #23C06E;
$gray: rgba(43, 45, 66, .9);
/* #352D39; #544E61 */

h1 {
  font-size: 24px;
  font-family: $font-content;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  font-family: $font-headers;
  font-weight: 700;
}


h3 {
  font-size: 24px;
  font-family: $font-headers;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-family: $font-headers;
  font-weight: 400;
  letter-spacing: 0;
}

h6 {
  font-size: 15px;
  font-family: $font-content;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-family: $font-content;
}

.no-text-decoration {
  color: white;
}

hr {
  color: $font-dark-color;
}

/*MIXINS -----------------------------------
BUTTON MIXINS ---------------------------- */

@mixin green-ghost-button {
 border-radius: 5px;
 color: $green;
 background-color: transparent;
 border: 2px solid $green;
 width: 125px;
 font-family: $font-buttons;
 font-size: $button-font-size;
 text-transform: uppercase;
 padding: 10px 15px;
 letter-spacing: $button-letter-spacing;
  &:hover {
    color: white;
    background-color: $green;
    cursor: pointer;
  }
 @content;
}

@mixin green-button {
  border-radius: 5px;
  color: white;
  background-color: $green;
  width: 125px;
  font-family: $font-buttons;
  font-size: $button-font-size;
  text-transform: uppercase;
  padding: 10px 15px;
  letter-spacing: $button-letter-spacing;
  &:hover {
    opacity: .9;
    background-color: orange;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;
  }
 @content;
}

@mixin portfolio-image {
  width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 30px 60px 30px;
  box-shadow: 3px 5px 10px rgba(40, 40, 40, .9);
  @content;
}


/*MIXINS FLEXBOX*/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
@content;
}

/* The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none */
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
      -ms-flex: $values;
          flex: $values;
@content;
}

/* Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse*/
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
@content;
}

/* Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse */
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
@content;
}

/* Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap> */
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
@content;
}

/* Display Order
// - applies to: flex items
// <integer> */
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
     -moz-box-ordinal-group: $val;
         -ms-flex-order: $val;
          -webkit-order: $val;
            order: $val;
@content;
}

/* Flex grow factor
// - applies to: flex items
// <number> */
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
@content;
}

/* Flex shrink
// - applies to: flex item shrink factor
// <number> */
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
@content;
}

/* Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> */
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
@content;
}

/* Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around */
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
@content;
}

/* Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch */
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
@content;
}

/* Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch */
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
@content;
}

/* Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch */
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
  @content;
}

/*RESPONSIVE DESIGN MIXINS ------------------------ */

@mixin xs {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

/* smartphones, small tablets, landscape iPhone */
@mixin sm {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

@mixin landscape-mobile {
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    @content;
  }
}

@mixin landscape-ipad {
  @media only screen and (min-height: 451px) and (max-height: 780px) and (orientation: landscape) {
    @content;
  }
}

/* portrait tablets */
@mixin md {
  @media only screen and (min-width: 641px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width: 768px) and (min-height: 450px) {
    @content;
  }
}

/*landscape iPad, low res laptops and desktops */
@mixin lg {
  @media only screen and (min-width: 961px) {
    @content;
  }
}

/* big landscape tablets, laptops, desktops */
@mixin xl {
  @media only screen and (min-width: 1026px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 1281px) {
    @content;
  }
}

@mixin custom($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

/*----------------------------------- */


.mobile-dropdown-nav {
  position: relative;
  width: 100%;
  z-index: 300;
  background: transparent;
  height: 70px;
  @include flexbox() {
  }
  @include justify-content(space-between) {
  }
  a {
    @include flexbox() {
    }
  }
  @include ipad {
    height: 90px;
  }
}

.mobile-dropdown-nav-home {
  position: relative;
  width: 100%;
  background: transparent;
  height: 70px;
  @include flexbox() {
  }
  @include justify-content(flex-end) {
  }
  a {
    @include flexbox() {
    }
  }
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 22.5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 30px;
  content:url("images/hamburger-menu.png");
  @include align-self(middle) {
  }
  @include ipad {
    padding: 32.5px 30px 32.5px 30px;
  }
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #FDC54B;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, .1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  border-radius: 5px;
  font-family: $font-content;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content {
  a:hover {
    background-color: $green;
  }
}

.active {
  background-color: rgba(1, 1, 1, .1);
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display:block;
}


/*HOME PAGE - HEADER -------------------------------- */

header {
  position: relative;
  z-index: 0;
  margin-top: -70px;
  @include ipad {
    height: 50vh;
  }
  @include landscape-mobile {
    height: calc(100vh - 70px);
  }
  @include lg {
    height: 100vh;
  }
}

.form-page {
  z-index: -1;
  position: relative;
  padding: 90px 30px 120px 30px;
  height: auto;
  @include flexbox() {
  }
  @include flex-wrap(wrap) {
  }
  @include flex-direction(column) {
  }
  @include justify-content(center) {
  }
  @include lg {
    @include flex-direction(row) {
    }
  }
}

.form-page-form {
  z-index: -1;
  position: relative;
  padding: 90px 0;
  height: auto;
  @include lg {
    @include flex-direction(row) {
    }
  }
}


.map {
  padding-bottom: 30px;
  @include align-self(center) {
  }
  border-sizing: border-box;
  width: 90vw;
  h1 {
    text-align: center;
    font-size: 36px;
  }
  h4 {
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
  }
  h3 {
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
  }
  @include ipad {
    width: 50vh;
    height: 50vh;
    padding-top: 0px;
    padding-bottom: 0;
    margin: 160px 90px 0 90px;
    h4 {
      font-family: $font-content;
      font-size: 24px;
      color: $font-dark-color;
      font-weight: 700;
    }
    h3 {
      font-weight: 700;
      font-size: 32px;
      padding-bottom: 30px;
      color: $green;
    }
    p {
      font-family: $font-content;
      font-size: 16px;
      color: $font-dark-color;
      padding-bottom: 30px;
    }
    iframe#mapcanvas {
      @include lg {
        width: 66vw;
        height: 66vw;
      }
    }
  }

  @include lg {
    width: 100vw;
  }
}

.map-address {
  h4 {
  margin-top: 15px;
  font-family: $font-content;
  font-size: 24px;
  color: $font-dark-color;
  font-weight: 300;
  padding-bottom: 60px;
  }
}

.map-div {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
  @include ipad {
    width: 66vw;
    height: 66vw;
  }
  @include lg {
    width: 33vw;
    height: 33vw;
  }
}

.page-header {
  width: 100%;
  top: 70px;
  padding-top: 90px;
  padding-bottom: 20px;
  text-align: center;
  h1 {
    color: $font-dark-color;
    font-size: 32px;
    padding: 20px 0 90px 0;
    line-height: 33px;
    font-family: "Varela Round", sans-serif;
    background: linear-gradient(to right, #fa4559 0%, #fa4559 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4 {
      font-family: $font-content;
      font-size: 24px;
      color: $font-dark-color;
      font-weight: 300;
      text-decoration: none;
    }
    h3 {
      font-weight: 300;
      font-size: 32px;
      padding: 30px 0;
      color: $font-dark-color;
      text-decoration: none;
    }
  @include ipad {
    width: 100%;
    padding-top: 240px;
    text-align: center;
    h1 {
      font-size: 40px;
      line-height: 60px;
      color: $font-dark-color;
      font-size: 40px;
      padding: 0 90px 240px 90px;
      line-height: 81px;
      font-family: "Varela Round", sans-serif;
      background: linear-gradient(to right, #fa4559 0%, #fa4559 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h4 {
      font-family: $font-content;
      font-size: 24px;
      color: $font-dark-color;
      font-weight: 300;
    }
    p {
      font-family: $font-content;
      font-size: 16px;
      color: $font-dark-color;
      padding-bottom: 30px;
    }
  }
  @include lg {
    h1 {
      font-size: 56px;
      padding: 0 90px 240px 90px;
    }
    h4 {
      font-size: 36px;
    }
    h3 {
      font-size: 40px;
    }
  }
}



.cognito {
  font-family: $font-content;
  color: $font-dark-color;

  h2 {
    font-weight: 300;
    font-size: 22px !important;
  }

  .c-label {
    font-family: $font-content;
    color: $font-dark-color;
  }
   input {
    font-family: $font-content;
    color: $font-medium-color;
    background-color: whitesmoke;
    box-shadow: inset 3px 3px 5px -1px rgba(1, 1, 1, .3);
    padding: 10px 15px !important;
    border: none;
    border-radius: 5px;
  }

  label input {
    box-shadow: none;
  }

  textarea {
    background-color: whitesmoke;
    box-shadow: inset 3px 3px 5px -1px rgba(1, 1, 1, .3);
    border: none;
    border-radius: 5px;
  }
  .c-button {
    margin: 0 auto;
  }
  #c-submit-button {
    width: 100% !important;
  }
  .c-action {
    float: none;
  }
  button {
    color: white;
    background-color: $green;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
  }
  .c-button-section {
    margin-bottom: 60px;
  }
}

.cognito .c-forms-heading h2 {
  padding: 0 !important;
  font-family: $font-content !important;
  font-size: 16px;
  color: $font-dark-color;
}


.video-div {
  display: none;
  @include ipad {
    display: unset;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
  }
  @include landscape-ipad {
    height: 100%;
  }

    @include xl {
      height: 100%;
    }
  }

.video-div iframe {
  @include ipad {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 50vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  @include landscape-ipad {
    min-height: 100vh;
  }
  @include xl {
    min-height: 100vh;
  }
}

.banner {
  background-image: url('images/orange-pink-mobile.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  text-shadow: 1px 1px 5px rgba(1, 1, 1, .1);
  object-fit: cover;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  position: relative;
  z-index: 0;
  @include flexbox() {
  }
  @include flex-direction(column) {
  }
  @include justify-content(center) {
  }
  @include align-content(middle) {
  }
  @include flex-wrap (wrap) {
  }
  img {
    width: 200px;
    @include align-self(flex-end) {
    }
  }
  h1 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 8px;
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    margin-left: 5px;
      @include lg {
      font-family: "Varela Round", sans-serif;
      font-size: 72px;
     }
  }
  h2 {
    position: absolute;
    bottom: 20vh;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 5px;
    width: 100vw;
    left: 0;
    right: 0;
    font-family: $font-headers;
    @include ipad {
      bottom: 10vh;
    }
    @include lg {
      bottom: 20vh;
      font-size: 36px;
    }
  }
  /* overflow: hidden; */
  @include landscape-mobile {
    height: calc(100vh - 70px);
    h2 {
      bottom: 25vh;
      font-weight: 700;
    }
    h3 {
      font-size: 42px;
    }
    h4 {
      font-size: 18px;
      font-weight: 400;
    }
  }
  @include ipad {
    background-image: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 25vh;
    width: 100vw;
    color: white;
    position: absolute;
    top: calc(25vh - 30px);
    color: white;
    position: relative;
    @include flexbox() {
    }
    @include flex-direction(column) {
    }
    @include justify-content(space-between) {
    }
    @include align-content(middle) {
    }
    @include flex-wrap (wrap) {
    }
    @include landscape-mobile {
      height: 100vh;
    }
    img {
      width: 200px;
      @include align-self(flex-end) {
      }
    }
    h3 {
      font-size: 60px;
      letter-spacing: 10px;
      font-family: "Varela Round", sans-serif;
      text-transform: uppercase
    }
    h4 {
      bottom: 0;
      font-size: 28px;
      font-weight: 100;
      letter-spacing: 5px;
    }
  }
  @include landscape-mobile {
    height: calc(100vh + 40px);
  }
  @include landscape-ipad {
    height: calc(50vh + 40px);
    top: calc(50vh - 30px);
  }
  @include xl {
    height: calc(50vh + 40px);
    width: 100vw;
    top: calc(50vh - 40px);
    color: white;
   h3 {
      font-size: 80px;
      letter-spacing: 10px;
      font-family: "Varela Round", sans-serif;
      text-transform: uppercase
    }
    h4 {
      padding-bottom: 12vh;
      font-size: 28px;
      font-weight: 100;
      letter-spacing: 5px;
    }
  }
}

.banner-menu {
  background-color: rgba(1, 1, 1, .5);
}

.banner-text {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  h3 {
    text-align: center;
    font-size: 32px;
    font-family: $font-content;
    letter-spacing: 3px;
    font-weight: 300;
    margin: 10px;
    margin-left: 12px;
    color: $font-dark-color;
  }
  h4 {
    text-align: right;
    font-size: 16px;
    font-family: $font-content;
    font-weight: 100;
    margin: 10px;
    margin-right: 22px;
    margin-left: 12px;
  }
}

/*HOME PAGE - 2ND HALF OF PAGE -------------- */


.half-page-text {
  padding: 30px;
  height: calc(50vh - 70px);
  background: $light-page-background-color;
  z-index: -2;
  position: relative;
  @include flexbox() {
  }
  @include align-items(center) {
  }
  @include justify-content(center) {
  }
  @include flex-direction(column) {
  }
  h4 {
    color: $green;
    font-family: $font-content;
    font-weight: 300;
  }
}


/*PORTFOLIO PAGE ------------------------*/


.full-page-text {
  padding: 90px 10px 90px 30px;
  color: white;
  background-color: white;
  position: relative;
  overflow: auto;
  text-align: left;
  @include flexbox() {
  }
  @include flex-wrap(wrap) {
  }
  @include justify-content(center) {
  }
  @include ipad {
    @include justify-content(center) {
    }
  }
  h4 {
    @include align-self(left) {
    }
    text-align: left;
    font-size: 32px;
    font-family: $font-content;
    letter-spacing: 3px;
    font-weight: 200;
    margin: 10px;
    color: white;
    width: 100%;
    @include ipad {
      width: 535px;
    }
    @include custom(873px) {
      width: 802.5px;
    }
    @include custom(1160px) {
      width: 10px;
    }
     @include ipad {
    margin: 0 30px 0 30px;
  }
  @include lg {
    padding: 160px 90px 160px 90px;
  }
  @include xl {
    padding: 160px 160px 160px 160px;
  }
  }

  .banner-text {
    color: white;
    padding-bottom: 45px;
    position: absolute;
    bottom: 60px;
    z-index: 1;
  }
}

.indent {
  margin-left: 15px;
}

.one-of-two-block {
  @include flexbox() {
  }
  @include flex-basis(250px) {
  }
  @include flex-direction(column) {
  }
  @include justify-content(space-between) {
  }
  height: auto;
  margin: 15px;
  h3 {
    color: $green;
    font-family: 'Varela Round', sans-serif;
    margin: 10px 0;
    text-align: left;
    @include xl {
      text-align: center;
    }
  }
  p {
    margin: 5px 0;
    font-family: $font-content;
    color: $font-medium-color;
  }
  p:nth-child(1) {
    color: $font-medium-color;
    font-weight: 400;
  }
  button {
    margin: 10px 0;
    @include green-ghost-button() {
    }
  }
  .green-button {
    @include green-ghost-button() {
    }
  }
  @include lg {
    text-align: center;
    h3 {
      text-align: center;
    }
  }
}

#one-block-special {
  @include flexbox() {
  }
  @include flex-basis(250px) {
  }
  @include flex-direction(column) {
  }
  @include justify-content(center) {
  }
  max-width: 250px;
  height: 200px;
  margin: 15px;
  h3 {
    color: $green;
    font-family: "Varela round", sans-serif;
    margin: 10px 0;
    text-align: left;
  }
  p {
    margin: 5px 0;
    font-family: $font-content;
    color: $font-medium-color;
  }
  p:nth-child(1) {
    color: $font-light-color;
  }
  button {
    margin: 10px 0;
    @include green-ghost-button() {
    }
  }
  .green-button {
    @include green-ghost-button() {
    }
  }
  @include justify-content(space-between) {
  }
  @include lg {
    box-shadow: 1px 1px 5px rgba(1, 1, 1, .3);
    width: 200px;
    text-align: center;
    background: $green;
    border-radius: 50%;
    padding: 50px;
    margin: 120px 15px;
    opacity: .9;
    @include justify-content(center) {
    }
    @include flex-basis(200px) {
    }
    .green-button {
      @include green-button() {
        background-color: orange;
      }
    }
    h3 {
      color: white;
      font-weight: 300;
      line-height: 26px;
      text-align: center;
    }
    p {
      color: rgba(255, 255, 255, .9);
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
    }
    button {
      margin: 10px 0 0 0;
      border: 2px solid orange;
    }
    .self-flex-end {
      text-align: center;
    }
  }
}

.full-width-div {
  @include lg {
    width: 100vw;
    @include flexbox() {
    }
    @include justify-content(center) {
    }
  }
}



/*PORTFOLIO PAGE - INDEX.HTML -------*/


#jreig-div {
  display: none;
}

#rmm-div {
  display: none;
}


.self-flex-end {
  text-align: left;
  @include lg {
    text-align: center;
  }
}

/*PORTFOLIO PAGE PORTFOLIO.HTML --------

//navbar */

.navbar-logo {
  content: url("images/pulp-logo-png.png");
  height: 40px;
  margin-left: 15px;
  padding-bottom: 5px;
  @include align-self(center) {
  }
  @include ipad {
    height:60px;
    margin: 11px 15px 19px 30px;
    padding-bottom: 0;
  }
}

.not-home-about {
  background-color: transparent;
  @include ipad {
    height: 90px;
  }
}

.not-home {
  // background-color: #FDC54B;
  background-color: $green;
  @include ipad {
    height: 90px;
  }
  a {
    color: $font-dark-color;
  }
  a:hover {
    color: white;
  }


  .dropdown-content {
    background-color: white;
  }
}

.no-header {
  background-color: transparent;
  height: 0;
  margin-top: 0;
}

.main-wrapper {
  background-color: white;
  height: auto;
  width: 100vw;
  position: relative;
  z-index: 3000;
}

  /*------------------------*/

.portfolio-title {
  text-align: center;
  color: $font-dark-color;
  padding: 115px 15px 15px 15px;
  h2 {
    font-family: "Varela Round", sans-serif;
  }
  h6 {
    padding-top: 15px;
    text-align: center;
    color: $green;
    font-weight: 300;
  }
}

.business-div {
  overflow: auto;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 60px;
  color: $font-dark-color;
  h3 {
    padding: 30px 0 15px 0;
  }
  h4 {
    font-size: 22px;
  }
  @include md {
    width: 60%;
  }
  @include xl {
    width: 50%
  }
}

.computer-image {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  height: 250px;
  margin-bottom: 30px;
}

.foreground-picture {
  content:url("images/banner-computer-dim-edit.png");
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  border-radius: 1px;
}

.background-picture {
  content:url("images/com-back.png");
  position: absolute;
  z-index: -1;
  top: -11px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.img-shadow {
  content:url("images/com_shadow.png");
  width: 295px;
  position: absolute;
  top: 225px;
  z-index: -2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/*JREIG portfolio images ------------------------------*/

.image-div {
  width: 85vw;
  height: auto;
  margin: 0 auto;
  margin-bottom: 60px;
  @include ipad {
    width: 60vw;
  }
  @include xl {
    width: 50%;
  }
}

img.porfolio-images {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 5px 30px;
}

.results-img {
  content:url("images/comp-results.jpg");
  @include portfolio-image() {
  }
}

.map-img {
  content:url("images/result-map.jpg");
  @include portfolio-image() {
  }
}

.list-img {
  content:url("images/result-list.jpg");
  @include portfolio-image() {
  }
}

.table-img {
  content:url("images/result-table.jpg");
  @include portfolio-image() {
  }
}

.new-est-img {
  content:url("images/jreig-items.png");
  @include portfolio-image() {
  }
}

.item-img {
  content: url("images/line-item.png");
  @include portfolio-image() {
  }
}

.est-calc-img {
  content: url("images/jreig-estimator.png");
  @include portfolio-image() {
  }
}

/*PORTFOLIO IMAGES THE BODY MECHANIC --------*/

.foreground-tbm-picture {
  content:url("images/tbm-home-mobile.jpg");
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  border-radius: 1px;
  border-radius: 1px;
}

.tbm-scheduler {
  content:url("images/tbm-scheduler.jpg");
  @include portfolio-image() {
  }
  img {
    box-shadow: 2px 5px 5px black;
  }
}

.tbm-form {
  content:url("images/tbm-intake.jpg");
  @include portfolio-image() {
  }
}


/*PORTFOLIO IMAGES RYAN MAYER MOTIVATION -------------*/

.foreground-rmm-picture {
  content:url("images/rmm-banner.png");
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  border-radius: 1px;
  border-radius: 1px;
}

.rmm-media {
  content:url("images/ryan_mayer_motivation/rmm-media.jpg");
  @include portfolio-image() {
  }
}

.rmm-recommends {
  content:url("images/ryan_mayer_motivation/rmm-recommends.jpg");
  @include portfolio-image() {
  }
}

/*-------------------------------------*/
.spacer {
  height: 30px;
}

.portfolio-image:nth-of-type(1) {
  margin-bottom: 0;
}

.portfolio-text {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
  color: $font-dark-color;
  position: relative;
  box-sizing: border-box;
  border: 0 3px 0 3px solid $green;
  p {
    margin: 15px 0px;
  }
  a {
    color: $font-dark-color;
  }
  h4 {
  margin: 15px 0 30px 0;
  font-weight: 300;
  color: $green;
  font-weight: 400;
  text-align: left;
  }
  @include md {
    width: 60%;
  }
  @include xl {
    width: 50%;
  }
}

.portfolio-image-text {
  color: $green;
  width: 85vw;
  margin-top: 60px;
  margin: 0 auto;
  h3 {
    color: $font-dark-color;
  }
  h4 {
    text-align: left;
    font-weight: 500;
    margin-top: 15px;
  }
  @include md {
    width: 60%;
    margin: 0 auto;
    h4 {
      text-align: left;
    }
  }
  @include xl {
    width: 50%;
  }
}

.two-column-div {
  width: 100%;
  color: #fa4a3e;
  font-weight: 700;
  @include flexbox() {
  }
  @include flex-wrap(wrap) {
  }
  @include justify-content(space-between) {
  }
  a {
    color: #fa4a3e;
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
  }
  p:nth-of-type(1) {
    padding-right: 15px;
  }
}

.one-column {
  p {
    width: 100%;
  }
}


/*ABOUT PAGE -----------------------------*/

.profile {
  content:url("images/profile-about-page.jpg");
  width: 100vw;
  margin: 0 auto;
  height: auto;
}

.about-page {
  p, h3 {
  margin: 15px 30px 0 30px;
  color: $font-dark-color;
 }
 @include ipad {
  margin: 4vw;
 }
 @include xl {
  margin: 15vw;
 }
}

.padding-bottom {
  margin-bottom: 15px;
}

.about-text {
  position: relative;
  font-family: $font-content;
  background-image: url("images/about-photo-full.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  @include flexbox() {
  }
  @include flex-direction(column) {
  }
  @include justify-content(space-between) {
  }
  h4 {
    margin-top: 60px;
    text-align: center;
    font-size: 32px;
    font-family: $font-content;
    letter-spacing: 5px;
    font-weight: 200;
    padding-bottom: 60px;
    color: rgba(255, 255, 255, .9);
  }
  @include landscape-mobile {
    background-size: 50vw;
    background-position: left;
  }
  @include lg {
    margin: 0 30px;
    padding-bottom: 90px;
    background: none;
    height: auto;
    @include flex-direction(row) {
    }
  }
  @include xl {
    margin: 0 90px;
  }
   @include xl {
    margin: 0 120px;
  }
  @include xxl {
    margin: 0 15vw;
  }
}

.about-photo {
  display: none;
  @include lg {
    box-shadow: 1px 1px 8px rgba(1, 1, 1, .7);
    display: unset;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    object-fit: cover;
  }
  @include xl {
    width: 40vw;
    height: 40vw;
  }
}

.about-paragraph {
  @include ipad {
    height: auto;
    @include flexbox() {
    }
    @include flex-wrap(nowrap) {
    }
    @include justify-content(middle);
  }
  padding-bottom: 30px;
}

.column-half-page {
  @include ipad {
  width: 68%;
  padding: 30px;
  height: auto;
    @include flex-grow(1) {
    }
  }
}

.brin {
  @include ipad {
    content:url("images/brin.png");
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin: auto;
    padding: 30px;
  }
}

.mobile-brin {
  display: unset;
  content: url(images/brin.png);
  width: 150px;
  height: auto;
  padding: 30px;
  object-fit: contain;
  margin: auto;
  @include flexbox() {
  }
  @include ipad {
    display: none;
  }
}

.windmill {
  @include ipad {
    content: url(images/windmill.png);
    width: 150px;
    margin: 0 0 0 30px;
    height: 215;
    padding: 30px;
    object-fit: contain;
    margin: auto;
  }
}

.mobile-windmill {
  display: unset;
  content: url(images/windmill.png);
  width: 100px;
  height: auto;
  padding: 30px;
  object-fit: contain;
  margin: auto;
  @include flexbox() {
  }
  @include ipad {
    display: none;
  }
}

.green {
  background-color: rgba(35, 192, 110, 1);
  border-top-left-radius: 5px;
  h3 {
     color: white;
  }
  p {
    color: rgba(255, 255, 255, .9);
    font-weight: 300;
    letter-spacing: .5px;
  }
}

.curved-top-left {
  border-top-left-radius: 10px;
}

.curved-bottom-left {
  border-bottom-left-radius: 10px;
}

.curved-bottom-right {
  border-bottom-right-radius: 10px;
}

.curved-top-right {
  border-top-right-radius: 10px;
}

.supergirl {
  content: url(images/superpowers.png);
  width: 150px;
  height: 287;
  padding: 30px;
  background-color: white;
  object-fit: contain;
  margin: auto;
}

.about-info {
  padding: 30px 0px 0px 0px;
  margin: 0 auto;
  width: 100%;
  h3 {
    font-family: 'Varela Round', sans-serif;
  }
  @include lg {
    position: relative;
    padding: 0;
  }
}

.half-page-gradient {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(13%, rgba(17,17,17,0.1)), color-stop(100%, rgba(0,0,0,0.8)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
  background: -o-gradient(top, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  @include landscape-mobile {
    right: 0;
    width: 50vw;
    background: none;
    color: $font-dark-color;
    height: 100%;
    @include flexbox() {
    }
    @include flex-direction(column) {
    }
    @include justify-content(center) {
    }
  }
  @include lg {
    box-shadow: 1px 3px 20px rgba(1, 1, 1, .3);
    position: relative;
    background: orange;
    opacity: .9;
    width: 400px;
    height: 400px;
    margin-top: -90px;
    margin-left: -120px;
    padding: 70px;
    border-radius: 50%;
    @include flexbox() {
    }
    @include flex-direction(column) {
    }
    @include align-self(flex-start) {
    }
    @include justify-content(center) {
    }
  }
  @include xl {
    width: 400px;
    height: 400px;
  }
  @include xxl {
    width: 30vw;
    height: 30vw;
  }
}

.about-info-p {
  padding: 15px;
  width: 66%;
  margin: 0 auto;
  color: $font-light-color;
  line-height: 15px;
  font-weight: 100;
  @include landscape-mobile {
    color: $font-dark-color;
    h3 {
      font-family: 'Varela round', sans-serif;
    }
    a {
      color: $font-dark-color;
    }
  }
  @include landscape-mobile {
    padding: 0;
    width: 80%;
  }
  @include lg {
    color: whitesmoke;
    width: 100%;
    h3 {
      letter-spacing: 2px;
      text-align: center;
      font-size: 46px;
      margin-bottom: 15px;
      line-height: 50px;
      font-family: 'Varela round', sans-serif;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 26px;
      font-family: $font-content;
    }
  }
}

.self-align-right-flex-end {
  text-align: center;
  padding: 0 20px 20px 0;
  button {
    margin: 30px 0;
    @include green-ghost-button() {
    }
  }
  @include landscape-mobile {
    padding: 0;
    button {
      margin: 15px 0 30px 0;
    }
  }
 @include lg {
    padding: 0;
    button {
      margin: 30px 0 0 0;
      color: white;
      border: 2px solid white;
    }
  }
}

.text {
  width: 250px;
  height: auto;
}

.list {
  margin: 0 0 0 30px;
  padding: 5px 5px 0 0;
  width: 30px;
}

li {
  p {
    width: 30px;
  }
}

.test {
  background-color: $green;
}

footer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fa4a3e+0,fa4559+99 */
  background: #fa4a3e; /* Old browsers */
  background: -moz-linear-gradient(top,  #fa4a3e 0%, #fa4559 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fa4a3e 0%,#fa4559 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fa4a3e 0%,#fa4559 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4a3e', endColorstr='#fa4559',GradientType=0 ); /* IE6-9 */
  height: 240px;
  text-align: center;
  margin: 0;
  left: 0;
  padding: 30px 0;
  width: 100vw;
  color: white;
  z-index: 0;
  @include flexbox() {
  }
  @include flex-wrap(wrap) {
  }
  @include flex-direction(column) {
  }
  @include justify-content(space-around) {
  }
  @include align-content(center) {
  }
  @include ipad {
    bottom: -140px;
  }
  div {
    width: 100vw;
    h1 {
      font-family: $font-headers;
    }
    h3 {
      font-family: $font-headers;
      letter-spacing: 2px;
    }
    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
  }
  ul {
    width: 100vw;
    @include flexbox() {
    }
    @include flex-wrap(nowrap) {
    }
    @include justify-content(center) {
    }
    li {
      padding: 5px;
      text-align: left;
    }
  }
}

li a {
  font-family: $font-content;
  color: $font-light-color;
  width: 30vw;
  margin: 0;
  p {
    padding: 15px;
    margin: 30px;
  }
}

.footer-button {
  border-radius: 5px;
  color: #23C06E;
  background-color: transparent;
  border: 2px solid #23C06E;
  width: 125px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 15px;
  letter-spacing: 1px;
  a {
    color: white;
  }
  h1 {
    font-size: 68px;

  }
}




