html,body {
margin:0;
padding:0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//end meyer css


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:500|Varela+Round');
//VARIABLES


$font-light-color: white;
$font-medium-color: #A9B4C0;
$font-dark-color: slategray;

$font-headers: 'Varela Round', sans-serif;
$font-content: 'Roboto Condensed', sans-serif;
$font-buttons: 'Roboto', sans-serif;
$button-font-weight: 100;
$button-letter-spacing: 1px;

$button-font-size: 14px;

$light-page-background-color: white;
$green: #23C06E;
$gray: rgba(43, 45, 66, .9);
// #352D39; #544E61


h3 {
  font-size: 24px;
  font-family: $font-headers;
}

h4 {
  font-family: $font-content;
}

h6 {
  font-size: 15px;
  font-family: $font-content;
}

p {
  font-size: 13px;
  font-weight: 100;
  line-height: 15px;
  font-family: $font-content;
}



//MIXINS -----------------------------------
//BUTTON MIXINS ----------------------------

@mixin green-ghost-button {
 border-radius: 5px;
 color: $green;
 background-color: transparent;
 border: 2px solid $green;
 width: 125px;
 font-family: $font-buttons;
 font-size: $button-font-size;
 text-transform: uppercase;
 padding: 10px 15px;
 letter-spacing: $button-letter-spacing;
   &:hover {
     color: white;
     background-color: $green;
   }
 @content;
}

@mixin green-button {
 border-radius: 5px;
 color: white;
 background-color: $green;
 width: 125px;
 font-family: $font-buttons;
 font-size: $button-font-size;
 text-transform: uppercase;
 padding: 10px 15px;
 letter-spacing: $button-letter-spacing;
   &:hover {
    opacity: .7;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
   }
 @content;
}


//FLEXBOX MIXINS

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
@content;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
      -ms-flex: $values;
          flex: $values;
@content;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
@content;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
@content;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
@content;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
     -moz-box-ordinal-group: $val;
         -ms-flex-order: $val;
          -webkit-order: $val;
            order: $val;
@content;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
@content;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
@content;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
@content;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
@content;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
@content;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
@content;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
  @content;
}




//STYLES
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 24px;
    border: none;
    background: transparent;
}

/* The container <div> - needed to position the dropdown content */
.mobile-dropdown-nav {
    position: relative;
    width: 100%;
    background: transparent;
    height: 70px;
    @include flexbox() {
    }
    @include justify-content(space-between) {
    }
    a {
      @include flexbox() {
      }
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

//HOME PAGE - HEADER --------------------------------

header {
  height: 50vh;
  background: #23C06E;
  background-size: cover;
}

.mobile-banner {
  margin: 0;
  padding: 0;
  height: calc50vh;
  color: white;
  @include flexbox() {
  }
  @include flex-direction(column) {
  }
  @include justify-content(center) {
  }
  @include align-content(middle) {
  }
  @include flex-wrap (wrap) {
  }
  img {
    width: 200px;
    @include align-self(flex-end) {
    }
  }
}

.banner-text {
  margin: 0 auto;

  h4 {
    text-align: right;
    font-size: 24px;
    font-family: $font-content;
    letter-spacing: 5px;
    font-weight: 500;
    margin: 10px;
    margin-left: 12px;
  }
  h6 {
    text-align: right;
    font-size: 16px;
    font-family: $font-content;
    font-weight: 100;
    margin: 10px;
    margin-right: 22px;
    margin-left: 12px;
  }
}

.banner-large-logo {
  width: 100%;
  margin: 0 auto;
  @include flexbox() {
  }
  @include justify-content(center) {
  }
}

//HOME PAGE - 2ND HALF OF PAGE --------------


.half-page-text {
  padding: 15px;
  height: calc(50vh - 70px);
  background: $light-page-background-color;
  @include flexbox() {
  }
  @include align-items(center) {
  }
  @include justify-content(center) {
  }
  h4 {
    color: $font-dark-color;
    font-family: $font-content;
    font-weight: 100;
  }
}


//PORTFOLIO PAGE ------------------------


.full-page-text {
  padding: 90px 10px;

  background-color: #2B2D42;
  // #F2BB05; yellow
  // #2B2D42;
  // background-image: url("images/orangeonblack.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // ---for desktop
  //background-attachment: fixed;
  overflow: auto;
  @include flexbox() {
  }
  @include flex-wrap(wrap) {
  }
  @include justify-content(center) {
  }
}

.one-of-two-block {
  @include flexbox() {
  }
  @include flex-basis(250px) {
  }
  @include flex-direction(column) {
  }
  // @include flex-grow(1) {
  // }
  @include justify-content(center) {
  }
  height: 200px;
  margin: 15px;
  h3 {
    color: $font-light-color;
    font-family: $font-headers;
    // font-family: $font-content;
    // letter-spacing: 5px;
    margin: 10px 0;
    text-align: left;
  }
  p {
    margin: 5px 0;
    font-family: $font-content;
    color: $font-medium-color;
  }
  p:nth-child(1) {
    color: $font-light-color;
  }
  button {
    margin: 10px 0;
    @include green-ghost-button() {
    }
  }
  .green-button {
    @include green-button() {
    }
  }
}



//PORTFOLIO PAGE - INDEX.HTML -------


#jreig-div {
  display: none;
}

#rmm-div {
  display: none;
}


.self-flex-end {
  text-align: left;
}

//PORTFOLIO PAGE PORTFOLIO.HTML --------

//navbar

.navbar-logo {
  height: 40px;
  margin-left: 15px;
  padding-bottom: 5px;
  @include align-self(center) {
  }
}

.not-home {
  background-color: $green;
}

.no-header {
    background-color: white;
    height: 100px;
  }

  //------------------------

.portfolio-title {
  text-align: center;
  color: $font-dark-color;
  padding: 0 15px 15px 15px;
  h6 {
    padding-top: 15px;
    text-align: right;
    color: $green;
  }
}

.business-div {
  overflow: auto;
  width: 85%;
  margin: 90px auto;
  color: $font-dark-color;
}

.portfolio-image {
  width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
}

.portfolio-image:nth-of-type(1) {
  margin-bottom: 0;
}

.portfolio-text {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 15px;
  color: $font-dark-color;
  position: relative;
  box-sizing: border-box;
  border: 0 3px 0 3px solid $green;
  p {
    margin-top: 15px;
  }
}

.portfolio-image-text {
  color: white;
  height: 30px;
  background-color: $green;
  line-height: 30px;
  width: 100vw;
  h4 {
    padding: 0 30px;
   box-shadow: 1px 1px 2px rgba(1, 1, 1, .3);
  }
}


//ABOUT PAGE -----------------------------

// .profile-picture {
//   width: 150px;
//   height: 150px;
// }

.about-text {
  font-family: $font-content;
  background-image: url("images/about_photo_full.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //---for desktop
  // background-attachment: fixed;
  height:100vh;
  // background: $font-dark-color;
  @include flexbox() {
  }
  @include flex-direction(column) {
  }
  @include justify-content(flex-end) {
  }
}

.about-info {
  padding: 30px 0px 0px 0px;
  margin: 0 auto;
  width: 100%;
}

.half-page-gradient {
  background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(13%, rgba(17,17,17,0.1)), color-stop(100%, rgba(0,0,0,0.8)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
background: -o-gradient(top, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.1) 13%, rgba(0,0,0,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.about-info-p {
  padding: 15px;
  width: 66%;
  margin: 0 auto;
  color: $font-light-color;
  line-height: 15px;
}

.self-align-right-flex-end {
  text-align: center;
  padding: 0 20px 20px 0;
  button {
    @include green-ghost-button() {
    }
  }
}


// .self-flex-end {
//   @include align-self(baseline) {
//   }
// }




